// COLORS
$color-primary: #008dd5;
$color-primary-light: #e6f6ff;

$color-grey-light: #e9ebef;

$color-grey-dark: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$font-small: 14px;
$font-default: 16px;
$font-medium: 20px;
$font-large: 24px;
$font-big: 32px;
$font-bigger: 40px;
$font-mega: 48px;
